header {
  height: 50px;
  box-shadow: 0px 0px 5px 0px hsla(0, 0%, 7%, 0.3);
}

nav {
  width: 160px;
}

.nav-link {
  color: white;
  /* background-color: rgba(255, 255, 255, 0.493); */
}

.nav-link-child {
  padding: 0%;
  margin-left: 10%;
  margin-left: 10%;
}

main {
  transition: 0.3s all ease;
}

ul>ul {
  padding: 0%;
  margin-left: 10%;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.prd-open {
  /* display: inline; */
  height: 4em;
  opacity: 1;
  visibility: visible;
}

main .chart{
  overflow: auto;
  height: 70vh;
}